<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokemonapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokemonApp">
        <!-- Your activities and other components -->
    </application>

    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
